$dim-grey: #8e8e8e;
$dimmer-grey: #424242;
$dimmerr-grey: #535556;
$dimmest-grey: #444444;
$dim-green: #748687;
$light-grey: #e1dede;
$lighter-grey: #c4c4c4;
$star-yellow: #ffd600;
$ropa-font: "Ropa Sans", sans-serif;
//prettier-ignore
p,h1,h2,h3,h4,h5, ul {
   padding: 0;
   margin: 0;
}
.loader {
   color: #ffffff;
   font-size: 90px;
   text-indent: -9999em;
   overflow: hidden;
   width: 1em;
   height: 1em;
   border-radius: 50%;
   margin: 72px auto;
   position: relative;
   -webkit-transform: translateZ(0);
   -ms-transform: translateZ(0);
   transform: translateZ(0);
   -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
   animation: load6 1.7s infinite ease, round 1.7s infinite ease;
}

@-webkit-keyframes load6 {
   0% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
   }

   5%,
   95% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
   }

   10%,
   59% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
   }

   20% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
   }

   38% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
   }

   100% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
   }
}

@keyframes load6 {
   0% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
   }

   5%,
   95% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
   }

   10%,
   59% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
   }

   20% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
   }

   38% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
   }

   100% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
   }
}

@-webkit-keyframes round {
   0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
   }

   100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
   }
}

@keyframes round {
   0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
   }

   100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
   }
}
.hide {
   display: none;
}
body {
   width: 1366px;
   margin: auto;
   padding: 0;
   font-family: $ropa-font;
   header {
      height: 353px;
      background-image: url(../assets/sw-header.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      display: flex;
      align-items: center;
      h1 {
         padding-left: 50px;
         color: $star-yellow;
         font-weight: lighter;
         font-size: 3rem;
         letter-spacing: 0.5rem;
         text-transform: uppercase;
      }
   }
   main {
      background-color: $dimmer-grey;
      padding: 50px;
      .container {
         display: flex;
         justify-content: space-around;
         @mixin infos {
            margin-top: -75px;
            width: 25%;
         }
         @mixin title {
            padding: 1rem;
            text-align: center;
            color: $star-yellow;
            font-size: 1.3rem;
            letter-spacing: 0.25rem;
         }
         .characters {
            @include infos;
            background-color: $dim-grey;
            .character-title {
               background-color: $dimmerr-grey;
               @include title;
            }
            section {
               ul {
                  margin-top: 0;
                  padding: 0;
                  li {
                     list-style: none;
                     font-size: 1rem;
                     letter-spacing: 0.125rem;
                     font-weight: 400;
                     padding: 8px;
                     font-family: "Roboto", sans-serif;
                  }
                  li:hover {
                     background-color: $dimmest-grey;
                  }
                  .active {
                     background-color: $dimmest-grey;
                  }
                  .bgc-dim {
                     background-color: $dim-grey;
                  }
                  .bgc-light {
                     background-color: $light-grey;
                  }
               }
            }
            .btn {
               padding: 20px;
               display: flex;
               justify-content: space-around;
            }
         }
         .details {
            @include infos;
            .detail-title {
               background-color: $dim-green;
               @include title;
            }
            .self-info {
               font-family: "Roboto", sans-serif;
               height: 243.5px;
               padding: 8px;
               background-color: $lighter-grey;
               ul {
                  li {
                     list-style: none;
                  }
               }
            }
            .home-world-info {
               font-family: "Roboto", sans-serif;
               height: 243.5px;
               padding: 8px;
               background-color: $dim-grey;
               ul {
                  li {
                     list-style: none;
                  }
               }
            }
         }
      }
   }
}
